form
	padding: 30px
.input-field
	position: relative
	margin: 20px 0 30px
	input, textarea, select
		font-size: 14px
		color: black
		display: block
		border: none
		padding: 15px 20px
		width: 100%
		outline: none
		background-color: white

	label
		font-size: 12px
		color: black
		// text-transform: uppercase
		letter-spacing: 2px
		pointer-events: none
		+y-align
		left: 0px
		&.textarea
			top: 23px

	&.call-back
		border-bottom: 1px solid rgba(white, 0.3)
		input
			background-color: transparent
			padding: 15px 0
			color: white

		label
			color: rgba(white, 0.3)


	input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
		color: white
		top: -12px
		font-size: 10px