.header-container
	position: fixed
	padding: 30px 0
	width: 100%
	// background: transparent
	// display: -webkit-flex
	// display: -moz-flex
	// display: -ms-flex
	// display: -o-flex
	// display: flex
	// justify-content: space-between
	// +transition-property(transform)
	// +transition-duration(1s)
	// +translate(0,-100%)
	z-index: 11
	&.scrolled, &.visible
		+translate(0,0)
	
	.logo
		width: 150px
		display: block

	.right-part
		position: absolute
		right: 0
		top: 30px

	//// H a m b u r g e r

.hamburger
	.hamburger-box
		// width: 30px
		// top: 10px
	.hamburger-inner
		width: 40px
		height: 2px
		border-radius: 0
		background-color: white
		left: -10px
		&:before, &:after
			width: 40px
			height: 2px
			border-radius: 0
			background-color: white

		&:before
			top: -9px
			right: -2px
		&:after
			top: -18px
			left: 4px
	