p
	font-size: 16px
	line-height: 1.5

.patrs-titile
	font-size: 40px
	text-transform: uppercase
	position: relative
	font-weight: 200
	font-family: StereoGothic
	letter-spacing: 3px
	span
		font-weight: 600
	
	&.pb
		padding-bottom: 60px
	&.center
		// +translate(-50%,0)
		// left: 50%
		text-align: center
	
	+breakpoint(small only)
		font-size: 22px

.head-title 
	font-size: 36px
	font-weight: 200
	span
		font-weight: 800
	&.white
		color: white
	+breakpoint(small only)
		font-size: 26px


.bgc-grey
	background-color: #eeeff3


.title-bold-elem
	font-size: 40px
	+breakpoint(small only)
		font-size: 24px

.download-buttons-box
	.one-button
		display: inline-block
		margin-right: 70px
		background-color: white
		position: relative
		height: 55px
		// height: 40px
		padding: 10px
		box-shadow: 0px 5px 2px rgba(0, 0, 0, 0)
		&:before
			content: ""
			position: absolute
			right: -22px
			top: 0
			bottom: 0
			transform: skew(-20deg)
			background-color: white
			height: 100%
			width: 40px
			// z-index: -1
			pointer-events: none

		svg
			width: 50px
			height: 50px
			padding: 10px
			+y-align
			left: 0

		.inner
			padding-left: 50px
			color: black
			.sub-title
				font-weight: 200
				padding-bottom: 5px
				font-size: 14px
			.title
				font-weight: 900
				text-transform: uppercase

		&.red-color,	&.black-color
			svg
				*
					fill: white
			.inner
				color: white

		&.red-color
			background-color: $red-color
			&:before
				background-color: $red-color
			

		&.black-color
			background-color: #222f35
			&:before
				background-color: #222f35

		+breakpoint(small only)
			&.inb
				display: inline-block
			display: block
			width: 40px
			margin-bottom: 10px
			.inner
				display: none
			


.call-back-wrap
	color: white
	padding: 100px 0
	text-align: center
	position: relative
	.input-field
		width: 350px
		margin: auto
		max-width: 100%
		button
			+y-align
			right: -13px
			width: 50px
			+translate(0, -32%)

	+breakpoint(small only)
		text-align: left
		padding: 10px
		form
			padding: 10px 10px 10px 0


.slider-buttons-box
	z-index: 10
	svg
		width: 50px
		height: 50px
		display: inline-block