.slider
	height: 100%
	width: 100%
	li
		height: 100vh
		position: relative
ul
	list-style: none

.how-is-works-slider
	height: 100%
	li
		height: 75vh
		position: relative
		.img-bg
			background-position: right
			background-size: contain

		+breakpoint(small only)
			height: initial
	.slick-dots
		bottom: 270px
		+x-align
		+translate(-170%,0)
		li
			background-color: $light-blue
			transform: skew(-20deg)
			width: 10px
			height: 10px
			display: inline-block
			margin-right: 10px
			cursor: pointer
			button
				display: none
			&.slick-active
				background-color: $red-color
		+breakpoint(medium down)
			bottom: 15px
			+translate(-50%,0)

