.one-product-page
	.banner-box.content-tween
		.img-bg style="background-image: url(#{asset_path('photo/one-product/one-product.jpg')})"
		.img-bg.right-position.up-to-anim style="background-image: url(#{asset_path('photo/one-product/iPhone7.png')})"
		.banner-inner
			.row
				.medium-7.colums.large-push-1
					a.go-back-btn.btn-anim href=""
						=inline_svg "svg/ic_keyboard_arrow_left_black_24px.svg"
						| All products
					.banner-title.font-StereoGothic.title-anim waaksamen
					p.text-anim
						|Create a useful quckly, clearly and easily 
						br
						|thats WaakSamen.

					.download-buttons-box.stagger-tween
						a.one-button.stagger-tween-item href=""
							= inline_svg 'svg/appstore.svg'
							.inner
								.sub-title Download on the
								.title app store
						a.one-button.stagger-tween-item href=""
							= inline_svg 'svg/playmarket.svg'
							.inner
								.sub-title Avaible on
								.title play market

		
		a.scroll-bown-box href=""
			.title more about
			.svg-box = inline_svg "svg/scroll.svg"
								

	.video-block.content-tween
		.row.collapse
			.medium-5.columns
				.text-info
					.title-bold-elem.title-anim
						b Waabsamen 
						| helps to make a quick 
						b report 
						| about a 
						b suspicious situation 
					p.text-anim  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quae ea, quasi sint itaque maiores, nobis laborum magni voluptate autem possimus id repudiandae numquam laboriosam quia rem. Saepe, quasi, at!

					p.text-anim  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quae ea, quasi sint itaque maiores, nobis laborum magni voluptate autem possimus id repudiand Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quae ea, quasi sint itaque maiores, nobis laborum magni voluptate autem possimus id repudiand

					a.btn.btn-anim href="" = inline_svg "svg/read_more.svg"
			
			.medium-7.columns
				.img-box.content-tween-right
					.img-bg style="background-image: url(#{asset_path('photo/one-product/young_woman.jpg')})"
					.video-btn.btn-anim = inline_svg "svg/play_button.svg"


	.how-it-works-wrap
		.bgc-grey
		.row
			.columns
				.patrs-titile.center.single-tween-item
					| how it 
					span
						| works
		ul.how-is-works-slider.content-tween
			.slider-buttons-box
				#PrevArrow.prev-btn =inline_svg "svg/arrow_left.svg"
				#NextArrow.next-btn =inline_svg "svg/arrow_right.svg"
			li 
				.left-part.dib
					.img-bg style="background-image: url(#{asset_path('photo/one-product/iPhone-6.png')})"
				.right-part.dib.bg-gradient
					.text-container
						.head-title.white.title-anim
							|Make 
							span
								| a useful report 
							| on a variety of buisiness.
						p.text-anim  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam doloremque cumque mollitia eveniet illum perferendis odio, ex! Minima dolor consequuntur saepe! Eum saepe quidem, eaque quasi, iusto officiis expedita mollitia!
			li 
				.left-part.dib
					.img-bg style="background-image: url(#{asset_path('photo/one-product/screen_2.jpg')})"
				.right-part.dib.bg-gradient
					.text-container
						.head-title.white
							|Make 
							span
								| a useful report 
							| on a variety of buisiness.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam doloremque cumque mollitia eveniet illum perferendis odio, ex! Minima dolor consequuntur saepe! Eum saepe quidem, eaque quasi, iusto officiis expedita mollitia!
			li 
				.left-part.dib
					.img-bg style="background-image: url(#{asset_path('photo/one-product/screen_1.jpg')})"

				.right-part.dib.bg-gradient
					.text-container
						.head-title.white
							|Make 
							span
								| a useful report 
							| on a variety of buisiness.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam doloremque cumque mollitia eveniet illum perferendis odio, ex! Minima dolor consequuntur saepe! Eum saepe quidem, eaque quasi, iusto officiis expedita mollitia!


	.best-features-wrap.bgc-grey
		.row
			.columns
				.patrs-titile.pb.single-tween-item
					| best 
					span
						| features

		.row.stagger-tween
			.large-4.columns
				.one-box.long-item.stagger-tween-item
					.icon-box =inline_svg "svg/finger.svg"
					.inner-container
						.title Is fast, clear and simple
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quaerat dolor sit veritatis possimus, veniam adipisci laboriosam maiores quibusdam! Doloremque porro consequatur error illo molestiae esse ut, nulla fugiat ab.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia veritatis, officia quos sint molestiae quis maiores suscipit hic sequi natus, soluta adipisci nemo corrupti, ea corporis quas in harum, iste?
					.img-bg style="background-image: url(#{asset_path('photo/one-product/feautures_note.png')})"
			.large-8.columns
				.one-box.long-gorizont-item.stagger-tween-item
					.icon-box =inline_svg "svg/bell.svg"
					.inner-container
						.title Is fast, clear and simple
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quaerat dolor sit veritatis possimus, veniam adipisci laboriosam maiores quibusdam! Doloremque porro consequatur error illo molestiae esse ut, nulla fugiat ab.
					
					.img-bg style="background-image: url(#{asset_path('photo/one-product/feautures_phone.png')})"

				.row
					.large-6.columns
						.one-box.small-one.stagger-tween-item
							.icon-box =inline_svg "svg/net.svg"
							.inner-container
								.title Is fast, clear and simple
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quaerat dolor sit veritatis possimus, veniam adipisci laboriosam maiores quibusdam! Doloremque porro consequatur error illo molestiae esse ut, nulla fugiat ab.
						
					.large-6.columns
						.one-box.small-two.stagger-tween-item
							.icon-box =inline_svg "svg/light.svg"
							.inner-container
								.title Is fast, clear and simple
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quaerat dolor sit veritatis possimus, veniam adipisci laboriosam maiores quibusdam! Doloremque porro consequatur error illo molestiae esse ut, nulla fugiat ab.
							

	.helps-police-wrap.content-tween
		.row
			.large-5.columns
				.text-content
					.title-bold-elem.title-anim
						b Also WaakSamen helps 
						| the police to 
						b collect analytical data  
						| on offeneses
					p.text-anim  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus corporis culpa, nulla assumenda. Quis dolor officia voluptas nisi ipsa fugit necessitatibus voluptatem, repellat amet blanditiis, aut soluta incidunt beatae tenetur!
					.icons-box.stagger-tween
						.one-box.dib.stagger-tween-item
							= inline_svg "svg/shield.svg"
							.inner-text 
								|Creating a safe
								br
								|environment
						.one-box.dib.stagger-tween-item
							= inline_svg "svg/pinion.svg"
							.inner-text
								|Convenient
								br
								|toolbar
			.large-6.columns
				.img-container.content-tween-right
					.img-bg style="background-image: url(#{asset_path('photo/one-product/Floating-MacBook.jpg')})"

	
	.try-to-use-wrap.bgc-grey.content-tween
		.img-bg.content-tween-left style="background-image: url(#{asset_path('photo/one-product/foot.jpeg')})"

		.inner-content
			.img-bg.left.content-tween-right style="background-image: url(#{asset_path('photo/one-product/coopweb.jpg')})"
			.row
				.columns.medium-6
					.title-bold-elem.title-anim
						| Try to use
						br
						b Waaksamen 
					
					p.text-anim  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur fugiat enim quis dolore adipisci, illo quae odio reiciendis, cupiditate mollitia voluptatum veniam in optio sed asperiores rem quidem dolor id!
					
					.download-buttons-box.stagger-tween
						a.one-button.red-color.stagger-tween-item href=""
							= inline_svg 'svg/appstore.svg'
							.inner
								.sub-title Download on the
								.title app store
						a.one-button.black-color.stagger-tween-item href=""
							= inline_svg 'svg/playmarket.svg'
							.inner
								.sub-title Avaible on
								.title play market

				.columns.medium-5.xxlarge-4
					.black-color-block

						.title-bold-elem.title-anim
							| View also
							br
							b Coppweb

						p.text-anim  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur fugiat enim quis dolore adipisci, illo quae odio reiciendis, cupiditate mollitia voluptatum veniam in optio sed asperiores rem quidem dolor id!

						a.btn-anim href="" =inline_svg "svg/read_more.svg"



.call-back-wrap.bg-gradient
	.title-bold-elem
		| We will find a quick solution 
		b for your needs.

	form
		.input-field.call-back
			input#number name="number" tupe="text"
			label Enter your phone
			button type="submit" = inline_svg 'svg/arrow_right.svg'