@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900')

@font-face
	font-family: StereoGothic
	src: font_url('Stereo_Gothic_250.ttf')
	font-weight: 200
	font-style: normal

@font-face
	font-family: StereoGothic
	src: font_url('Stereo_Gothic_600.ttf')
	font-weight: 600
	font-style: normal

