html
  height: 100%
body
  min-height: 100%
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  flex-direction: column
  background: white
  font-family: 'Nunito Sans', sans-serif
  .main-wrapper
    flex: 1
  &.menu-opened
    overflow: hidden


.small
  font-size: 0.75rem
.smaller
  font-size: 0.875rem
.regular
  font-size: 1rem
.larger
  font-size: 1.125rem
.large
  font-size: 1.25rem