.one-product-page
	.banner-box
		height: 100vh
		position: relative
		overflow: hidden
		
		.img-bg
			&.right-position
				+translate(0,170%)
		.banner-inner
			+y-align
			width: 100%
			color: white
			.go-back-btn
				color: rgba(white, 0.3)
				svg
					vertical-align: middle
					fill: rgba(white, 0.3)
			.banner-title 
				font-size: 60px
				font-weight: 400
				letter-spacing: 3px
				line-height: 1.5
				text-transform: uppercase
				+breakpoint(xxlarge up)
					padding: 20px 0	
				// 	font-size: 80px
			p
				font-size: 28px
				font-weight: 200
				line-height: 1.2
				min-height: 200px
		
		+breakpoint(small only)
			.img-bg
				&.right-position
					background-position: bottom right
					top: 230px
					+translate(30%,170%)
			.banner-inner
				.banner-title 
					font-size: 24px
					font-weight: 600

				p
					font-size: 16px
	.video-block
		padding: 100px 0
		overflow: hidden
		.text-info
			
			p
				margin: 30px 0
			svg
				width: 200px

		.img-box
			position: relative
			padding-bottom: 80%
			+translate(30%,0)

			.video-btn
				+y-align
				left: 0
				z-index: 10
				cursor: pointer
				width: 80px
				+translate(-50%,-50%)

		+breakpoint(medium down)
			.img-box
				margin-top: 30px
				+translate(0,0)
				.video-btn
					left: 50%
		+breakpoint(small only)
			padding: 100px 0 50px 
			.text-info
				svg
					width: 140px
			.img-box
				margin-top: 30px
				+translate(0,0)
				.video-btn
					left: 50%

	.how-it-works-wrap
		position: relative
		.slider-buttons-box
			+x-align
			top: 25%
			+breakpoint(xxlarge up)
				top: 22%
			+breakpoint(medium down)
				top: 50%
				width: 100px
				width: 100%
				.prev-btn, .next-btn
					position: absolute
				.prev-btn
					left: 0
				.next-btn
					right: 0
			+breakpoint(small only)
				top: 28%
		.how-is-works-slider
			padding: 100px 0
			.bgc-grey
				position: absolute
				top: 50%
			

			.left-part, .right-part
				position: relative
				height: 100%
			.left-part
				width: 40%
				.img-bg 

			
			.right-part
				width: 60%
				height: 70%
				padding: 120px 50px
				position: relative
				&:before
					content: ""
					display: block
					position: absolute
					top: 0
					bottom: 0
					width: 300px
					height: 100%
					left: -300px
					z-index: -1
					background: -moz-linear-gradient(-180deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
					background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(43,78,123,1)), color-stop(100%, rgba(102,43,91,1)))
					background: -webkit-linear-gradient(-180deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
					background: -o-linear-gradient(-180deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
					background: -ms-linear-gradient(-180deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
					background: linear-gradient(-270deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B4E7B', endColorstr='#662B5B',GradientType=1 )
				.text-container
					width: 600px
					max-width: 100%

				p
					color: white
					padding-top: 30px

			+breakpoint(medium down)
				padding: 0
				.dib
					display: block
				.left-part, .right-part
					width: 100%
					height: 100%
					// display: block
					.img-bg 
						background-position: center


					.text-container
						z-index: 100
				
				.right-part
					padding: 120px 15px
					&:before
						content: ""
						display: none
				.left-part
					height: 50vh
					margin-bottom: -120px
					.img-bg
						z-index: 10


.best-features-wrap
	padding-top: 500px
	margin-top: -500px
	overflow: hidden
	+breakpoint(medium down)
		padding-top: 400px
		margin-top: -300px
	.content-items

	.one-box	
		background-color: white
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0)
		padding: 40px
		position: relative

		.icon-box
			position: absolute
			left: 40px
			top: -25px
			width: 60px
			height: 60px

		.inner-container
			padding: 40px 0 0 0
			.title
				font-weight: 800
				font-size: 20px
				padding-bottom: 30px
			p
				padding-bottom: 20px
				color: $light-blue
		.img-bg
			background-size: contain

		&.dark-bg
			background-color: #222f35
			.inner-container
				.title, p
					color: white
		&.long-item
			height: 676px
			max-hight: 100%
			margin: 0 50px 50px 0 
			.img-bg
				background-position: bottom
				

			.inner-container
				height: 355px
				overflow: hidden

		&.long-gorizont-item
			margin: 0
			.img-bg
				background-position: right

			.inner-container
				width: 450px
				max-width: 100%
				overflow: hidden
				height: 210px

		&.small-one
			margin: 65px 30px 0 0

		&.small-two
			margin: 65px 0 0 30px

		&.small-one, &.small-two
			.inner-container
				height: 240px
				overflow: hidden

		+breakpoint(medium down)
			margin: 0 0 90px 0 !important
			&.long-gorizont-item
				.img-bg
					display: none

.helps-police-wrap
	overflow: hidden
	.text-content
		padding: 200px 0 0 0
		p
			margin: 50px 0

		.icons-box
			.one-box
				position: relative
				margin-right: 20px
				svg
					width: 30px
					height: 30px
					position: absolute
					left: 0
					top: 0
					bottom: 0
				.inner-text
					margin-left: 40px

		+breakpoint(small only)
			padding: 50px 0 0 0

.try-to-use-wrap
	position: relative
	height: 60vh
	+breakpoint(xlarge only)
		height: 80vh
	.img-bg
		width: 60%
		&.left
			background-size: contain
			background-position: right
			width: 100%
	.inner-content
		padding: 75px 0 110px
		position: relative
		color: white
		overflow: hidden
		+breakpoint(medium only)
			.title-bold-elem, a
				padding-left: 10px
			.download-buttons-box
				padding-left: 10px
				.one-button
					margin-bottom: 10px
		p
			padding: 30px 0 70px 10px
			width: 330px
			max-width: 100%
			position: relative

		.black-color-block
			position: relative
			color: black

		.img-bg
			
			
		svg
			width: 140px

	+breakpoint(xlarge down)
		.img-bg
			width: 50%

		.inner-content
			p
				width: 270px

	+breakpoint(small only)
		height: initial
		.img-bg
			width: 100%
		.inner-content
			padding: 75px 0px 0 0px
			.title-bold-elem
				padding-left: 10px
			p
				width: 100%
				padding: 30px 10px

			.download-buttons-box
				padding-bottom: 20px

			.black-color-block
				padding: 30px 10px
				background-color: #eeeff3

			svg
				padding-left: 10px