.row.columns-left
	.columns
		float: left !important

.dib
	display: inline-block
	vertical-align: middle
	line-height: 1

.clearfix
	position: relative
	+clearfix
	.floated
		float: left
	.floated-right
		float: right

.float-right
	@media #{$medium-up}
		float: right !important
.float-left
	@media #{$medium-up}
		float: left !important

.mobile
	@media #{$medium-up}
		display: none
.desktop
	@media #{$small-only}
		display: none
.desktop-ipad
	+breakpoint(medium down)
		display: none

.img-container
	position: relative
	width: 100%
	height: 0
	padding-bottom: 100%
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	overflow: hidden

.img-bg
	position: absolute
	+fullsize
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	+transition(1s)
	&.right-position
		background-size: contain
		background-position: right
.lightened
	+grayscale
	background-color: rgba(255,255,255,0.75)
	background-blend-mode: lighten

.darken
	+grayscale
	background-color: rgba(0,0,0,0.25)
	background-blend-mode: darken

button

.bg-gradient
	background: -moz-linear-gradient(180deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(43,78,123,1)), color-stop(100%, rgba(102,43,91,1)))
	background: -webkit-linear-gradient(180deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
	background: -o-linear-gradient(180deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
	background: -ms-linear-gradient(180deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
	background: linear-gradient(270deg, rgba(102,43,91,1) 0%, rgba(43,78,123,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B4E7B', endColorstr='#662B5B',GradientType=1 )

.font-StereoGothic
	font-family: StereoGothic

.scroll-bown-box
	+x-align
	bottom: 0
	color: rgba(white, 0.4)
	.svg-box
		margin: 10px auto
		width: 20px
		